/* general */
body 	{
  	margin-top: 0px;
  	padding: 0px;
  	border: 0;
	background-color:#ffffcb;
	overflow-x:hidden;
/*	font-family: QuanSlimLight;*/
	font-family: QuanSlimLight;
/*	font-family: Calibri;*/
/*	font-family: verdana,tahoma,sans-serif;*/
	font-size:15pt;
	color:#333333;
	}
   h2,h3 {
 	text-align: left;
	font-weight: bold;
	}
   h2 {
	font-size: 24px;
	}
   h3 {
	font-size: 20px;
	}

   p,li,blockquote {
 	text-align: justify;
	}
   p {						/* p inherits the properties of p listed above and adds the indentation as specified */
	line-height: 1.25;
	}

#container {
	background-color:#fff;
	max-width:1240px;
  	margin-top: 0px;
	margin: 0 auto;
	overflow: hidden;
	-webkit-box-shadow: 5px 5px 5px 0px #666;
	-moz-box-shadow: 5px 5px 5px 0px #666;
	box-shadow: 5px 5px 5px 0px #666;
	}

#main_content_AIMS {
	float: left;
	position: relative;
	background-color:#F5F5DC;	 /* vanilla */
	max-width:1240px;
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	}
#main_content_mo {			/* members only pages background colour */
	float: left;
	position: relative;
	background-color:#F5F5DC;	/* cream */
	max-width:1240px;
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	}
#main_content {
	float: left;
	position: relative;
	background-color: #fff;
	max-width:1100px;
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	}

#banner {
	margin: 0 auto;
	position: relative;
	line-height: 0;
	float: left;
	width: 100%;
	height: auto;
	}

/* smartphone oriented e.g. portrait on iPhone 6+ */
@media only screen and (max-width: 480px) {
.main_login_approved {float:left; width:7%;margin-right:5px;}
.main_arms {float:left; width:100%; height:auto; padding-bottom:5%;}
.main_p1 {float:left; width:100%;}
.main_p2 {float:left; width:100%;}
.main_gray_box {float:left;width:98%;margin-right:5%;border:1px solid;border-radius:25px;background-color:#e5e5e5;font-size:15px;}
.main_left_column {float:left;width:90%;}
.main_middle_column {float:left;width:90%;}
.main_right_column {float:left;width:90%;}
.main_portrait_img_element {margin-top:20px;width:50%; box-shadow:5px 5px 5px #888888;}

.fadeslideshow_banner {display:none;}
.officers_div {float:left; margin-right:15px; margin-bottom:10px; max-width:30%;}
.officers_arms {float:right; margin-left:10px; margin-bottom:5px; width:30%;}

#footer {background: linear-gradient(to left, #fff -80%, #7c613e 45%);margin: 0 auto;line-height:0;float: left;width: 100%;height:40px;}
#footer_copyright {float:left;max-width:100%;font-size:8pt;text-align:left;margin-left:1%;margin-top:3%;}
#footer_restricted {float:left;max-width:100%;color:white;font-size:8pt;text-align:left;margin-left:1%;font-weight:bold;margin-top:2.25%;}
.history_image_portrait {float:left;margin-right:15px;width:33%;}
.history_image_right {float:left;margin-bottom:15px;width:100%;}
.history_image_left {float:left;margin-bottom:15px;width:100%;}

.arms_image_arms {float:left;width:95%;}
.arms_paragraph_1 {float:left;width:95%;}
.arms_paragraph_2 {float:left;width:95%;}
.arms_paragraph_3 {float:left;width:95%;}
.arms_image_evolution {display:none;}

/* training pages */
.arte_fola {float:left;width:48%;margin-right:2%;}
.arte_folb {display:none}
.arte_folc {display:none}
.trng_poleweapons {float:left;width:100%;}
.arte_fiore_dei_liberi_prologue {float:left;width:90%;margin-bottom:3%;margin-left:5%;margin-right:5%}
.arte_fiore_dei_liberi_premariacco {float:left;width:90%;margin-left:5%;margin-right:5%;margin-bottom:15px;}

/* roll of arms */
.heraldry_coa {float:left;padding-bottom:10px;width:95%;}
.roll_herald {display:none;}  /* do not display the knightly herald bearing the armorial banners */
.roll_bourbon {float:left;width:100%;margin-left:5%;margin-right:5%;margin-bottom:20px;}
.roll_bourbon_image {float:left;width:85%;margin-bottom:20px;text-align:center;}
.roll_bourbon_caption {float:left;width:85%;text-align:justify;font-size:16px;font-style:italic;}
.roll_blazon_name {display:none;}  /* do not display the name of the grantee in the entry's navigation strip */
.roll_blazon_nav {float:left;}
.roll_arms_350h {float:left;max-height:350px;margin-left:15%;margin-bottom:15px;}
.roll_arms_blazon {float:left;width:90%;margin-left:3%;}

.contact_salles {float:left;width:95%;margin-left:3%;}
.contact_salles_image {float:left;margin-bottom:10px;width:100%;}
.contact_salles_p {float:left;width:100%;margin-left:40px;}

/* AIMS home page */
.database_image {float:left;margin-right:3%;width:20%;}
.database_login_form {float:left;width:100%;margin-bottom:5%;}
.database_login_logo {float:left;margin-left:33%;width:40%;}
.login_panel_wireframe {float:left;width:100%;}
.login_panel {float:left;position:relative;width:90%;margin-left:5%;margin-top:30px;margin-bottom:30px;border-style:solid;border-width:1px;border-radius:10px;background-color:#E5E4E2;padding-top:12px;}
.login_fieldset {background-color:#E5E4E2;text-align:left;width:95%;margin-left:1%;margin-bottom:2%;}

.AIMS_home_page_table {width:95%;background-color:blue;border-bottom-left-radius:15px;border-bottom-right-radius:15px;}

.admin_stuff {float:left;width:100%;margin-top:20px;border-style:solid;border-width:1px;border-radius:10px;background-color:#ffffff;margin-bottom:50px;}

.calendar {width:800px;margin-left:0%;margin-bottom:3%;border-style:solid;border-width:1px;border-color:gray;border-radius:15px;padding:3px;}

.change_login {margin:auto;width:85%;border:1px solid;border-radius:25px;background-color:#e5e5e5;margin-bottom:50px;}

/* armigerous tab window */
.armig_left_panel {float:left;width:100%;}
.armig_right_panel {float:left;width:100%;}

/* membership tab window */
.memshp_profile_col1 {float:left;width:95%;padding:4px;}
.memshp_profile_col2 {float:left;width:95%;padding:4px;}
.memshp_profile_col3 {float:left;width:95%;padding:4px;}
.status_ranks_panel {float:left;width:92%;margin-top:1%;margin-bottom:1%;margin-left:2%;margin-right:2%;border-style:solid;border-width:1px;border-color:gray;border-radius:15px;padding:6px;background-color:purple;}
.awards_positions_panel {float:left;width:92%;margin-top:1%;margin-bottom:1%;margin-left:2%;margin-right:2%;border-style:solid;border-width:1px;border-color:gray;border-radius:15px;padding:6px;background-color:blue;}
.table_status {border-collapse:collapse;border:1px solid black;width:90%;margin-left:3%;}
.table_rank {float:left;margin-top:3%;border-collapse:collapse;border:1px solid black;width:90%;margin-left:3%;}
.table_award {border-collapse:collapse;border:1px solid black;width:90%;margin-left:3%;}
.table_position {float:left;margin-top:3%;border-collapse:collapse;border:1px solid black;width:90%;margin-left:3%;}

.postit_panel {float:left;width:90%;margin-left:5%;border-style:solid;border-width:1px;border-radius:10px;background-color:#E5E4E2;}
.postit_col1 {float:left;width:96%;padding:4px;}
.postit_col2 {float:left;width:96%;padding:4px;}

.scholler_div {float:left;width:96%;margin-left:2%;margin-right:2%;}
.scholler_badges {float:left;width:50%;text-align:center;}

/* fees */
.paypal_methods {border-style:solid;border-width:1px;border-radius:10px;width:100%;}

/* news page */
.news_60 {display:none}
.news_40 {float:left;width:100%;}
.news_50 {float:left;width:50%;}
.news_headline {float:left;width:95%;padding:3%;color:#EBF4FA;font-size:0.75em;font-family:arial,helvetica;}
.news_date {float:left;width:95%;padding:3%;color:red;font-size:.6em;font-family:arial,helvetica;}
.news_panel {float:left;width:100%;background-color:black;margin-bottom:10px;}


} /* end @media (max-width: 480px)*/

/* smartphone and other small mobile devices oriented e.g. landscape on iPhone 6+ */
@media only screen and (min-width: 481px) and (max-width: 750px) {
.main_login_approved {float:left; width:4%;margin-right:5px;}
.main_arms {float:left;width:35%;padding-bottom:5%;}
.main_p1 {float:right; width:60%;}
.main_p2 {float:left; width:100%;}
.main_gray_box {float:left;width:98%;margin-right:5%;border:1px solid;border-radius:25px;background-color:#e5e5e5;font-size:15px;}
.main_left_column {float:left;width:60%;}
.main_middle_column {float:left;width:30%;}
.main_right_column {float:left;width:100%;}
.main_portrait_img_element {margin-top:20px;width:60%; box-shadow:5px 5px 5px #888888;}

.fadeslideshow_banner {float:left;width:100%;}
.officers_div {float:left; margin-right:15px; margin-bottom:10px; max-width:30%;}
.officers_arms {float:right; margin-left:10px; margin-bottom:5px; width:30%;}

#footer {background: linear-gradient(to left, #fff -80%, #7c613e 45%);margin: 0 auto;line-height:0;float: left;width: 100%;height:30px;}
#footer_copyright {float:right;max-width:45%;font-size:8pt;text-align:right;margin-right:1%;margin-top:2.25%;}
#footer_restricted {float:left;max-width:45%;color:white;font-size:8pt;text-align:left;margin-left:1%;font-weight:bold;margin-top:2.25%;}
.history_image_portrait {float:left;margin-right:15px;width:23%;}
.history_image_right {float:right;margin-left:15px;margin-bottom:5px;width:40%;}
.history_image_left {float:left;margin-right:15px;margin-bottom:5px;width:40%;}

.arms_image_arms {float:left;margin-right:15px;width:25%;}
.arms_paragraph_1 {float:left;width:70%;}
.arms_paragraph_2 {float:left;width:95%;}
.arms_paragraph_3 {float:left;width:95%;}
.arms_image_evolution {display:none;}

/* roll of arms */
.heraldry_coa {float:right; padding-left:15px;padding-bottom:10px; max-width:45%;}
.roll_herald { display:none;}  /* do not display the knightly herald bearing the armorial banners */
.roll_bourbon {float:left;width:40%;margin-left:5%;margin-right:5%;margin-bottom:20px;}
.roll_bourbon_image {float:left;width:100%;margin-bottom:20px;text-align:center;}
.roll_bourbon_caption {float:left;width:100%;text-align:justify;font-size:16px;font-style:italic;}
.roll_blazon_nav {float:right;}
.roll_blazon_name {font-size:12px;font-weight:bold;}
.roll_arms_350h {float:left;max-height:350px;margin-left:3%;margin-bottom:15px;}
.roll_arms_blazon {float:right;width:65%;}


.contact_salles {float:left;width:95%;margin-left:3%;}
.contact_salles_image {float:left;margin-bottom:10px;width:40%;margin-right:15px;}
.contact_salles_p {float:left;width:45%;margin-left:20px;}

/* training pages */
.arte_fola {float:left;width:23%;margin-right:2%;}
.arte_folb {float:left;width:23%;margin-right:2%;}
.arte_folc {display:none}
.trng_poleweapons {float:right;width:50%;margin-left:15px;}
.arte_fiore_dei_liberi_prologue {float:left;width:30%;margin-right:3%;}
.arte_fiore_dei_liberi_premariacco {float:right;width:30%;margin-left:3%;margin-bottom:15px;}

/* AIMS home page */
.database_image {float:left;margin-right:3%;width:15%;}
.database_login_form {float:left;width:80%;margin-bottom:5%;margin-left:10%;}
.database_login_logo {float:left;margin-left:40%;width:25%;}
.AIMS_home_page_table {width:80%;background-color:orange;}
.login_panel_wireframe {float:left;width:90%;margin-left:5%;}
.login_panel {float:left;position:relative;width:80%;margin-left:10%;margin-top:30px;margin-bottom:30px;border-style:solid;border-width:1px;border-radius:10px;background-color:#E5E4E2;padding-top:12px;}
.login_fieldset {background-color:#E5E4E2;text-align:left;width:85%;margin-left:3%;margin-bottom:2%;}

.calendar {width:800px;margin-left:0%;margin-bottom:3%;border-style:solid;border-width:1px;border-color:gray;border-radius:15px;padding:3px;}

.change_login {margin:auto;width:70%;border:1px solid;border-radius:25px;background-color:#e5e5e5;margin-bottom:50px;}

.admin_stuff {float:left;width:96%;margin-left:2%;margin-top:20px;border-style:solid;border-width:1px;border-radius:10px;background-color:#ffffff;margin-bottom:50px;}

/* armigerous tab window */
.armig_left_panel {float:left;width:100%;}
.armig_right_panel {float:left;width:100%;}

/* membership tab window */
.memshp_profile_col1 {float:left;width:45%;padding:4px;}
.memshp_profile_col2 {float:left;width:45%;padding:4px;}
.memshp_profile_col3 {float:left;width:90%;padding:4px;}
.status_ranks_panel {float:left;width:80%;margin-top:1%;margin-bottom:1%;margin-left:8%;border-style:solid;border-width:1px;border-color:gray;border-radius:15px;padding:6px;background-color:purple;}
.awards_positions_panel {float:left;width:80%;margin-top:1%;margin-bottom:1%;margin-left:8%;border-style:solid;border-width:1px;border-color:gray;border-radius:15px;padding:6px;background-color:blue;}
.table_status {border-collapse:collapse;border:1px solid black;width:90%;margin-left:3%;}
.table_rank {float:left;margin-top:3%;border-collapse:collapse;border:1px solid black;width:90%;margin-left:3%;}
.table_award {border-collapse:collapse;border:1px solid black;width:90%;margin-left:3%;}
.table_position {float:left;margin-top:3%;border-collapse:collapse;border:1px solid black;width:90%;margin-left:3%;}

.postit_panel {float:left;width:90%;margin-left:5%;border-style:solid;border-width:1px;border-radius:10px;background-color:#E5E4E2;}
.postit_col1 {float:left;width:96%;padding:4px;}
.postit_col2 {float:left;width:96%;padding:4px;}

.scholler_div {float:left;width:90%;margin-left:5%;margin-right:5%;}
.scholler_badges {float:left;width:24%;text-align:center;}

/* fees */
.paypal_methods {border-style:solid;border-width:1px;border-radius:10px;width:90%;}

/* news page */
.news_60 {float:left;width:100%;}
.news_40 {float:left;width:100%;}
.news_50 {float:left;width:50%;}
.news_headline {float:left;width:95%;padding:3%;color:#EBF4FA;font-size:0.75em;font-family:arial,helvetica;}
.news_date {float:left;width:95%;padding:3%;color:red;font-size:.6em;font-family:arial,helvetica;}
.news_panel {float:left;width:100%;background-color:black;margin-bottom:10px;}


} /* end @media (min-width: 481px) and (max-width: 750px) */

/* tablets/desktops oriented landscape e.g XPS8700, iPad 3 landscape & portrait */
@media only screen and (min-width: 751px) {
.main_login_approved {float:left; width:2%;margin-right:5px;}
.main_arms {float:left; max-width:32%;padding-bottom:10%;}
.main_p1 {float:right; width:60%;margin-right:5%;}
.main_p2 {float:right; width:60%;margin-right:5%;}
.main_gray_box {float:right;width:60%;margin-right:5%;border:1px solid;border-radius:25px;background-color:#e5e5e5;font-size:15px;}
.main_left_column {float:left;width:40%;}
.main_middle_column {float:left;width:25%;}
.main_right_column {float:left;width:32%;}
.main_portrait_img_element {margin-top:20px;width:60%; box-shadow:5px 5px 5px #888888;}

.fadeslideshow_banner {float:left;width:100%;}
.officers_div {float:left; margin-right:15px; margin-bottom:15px; max-width:12%;}
.officers_arms {float:left; margin-right:10px; margin-bottom:5px; width:8%;}

#footer {background: linear-gradient(to left, #fff -80%, #7c613e 45%);margin: 0 auto;line-height:0;float: left;width: 100%;height: 30px;}
#footer_copyright {float:right;max-width:40%;font-size:0.85em;text-align:right;margin-right:1%;margin-top:1.35%;}
#footer_restricted {float:left;max-width:40%;color:white;font-size:0.85em;text-align:left;margin-left:1%;font-weight:bold;margin-top:1.35%;}
.history_image_portrait {float:left;margin-right:15px;width:13%;}
.history_image_right {float:right;margin-left:15px;margin-bottom:5px;width:30%;}
.history_image_left {float:left;margin-right:15px;margin-bottom:5px;width:30%;}

.about_image_arms {float:left;margin-right:15px;width:18%;}
.about_image_right {float:right;margin-left:15px;width:30%;margin-bottom:10px;}

.arms_image_arms {float:left;margin-right:15px;width:25%;}
.arms_paragraph_1 {float:left;width:55%;}
.arms_paragraph_2 {float:left;width:81%;}
.arms_paragraph_3 {float:left;width:95%;}
.arms_image_evolution {float:right;margin-left:15px;width:15%;}

/* roll of arms */
.roll_herald {float:right;width:25%;margin-left:3%;margin-bottom:20px;} 
.roll_herald_image {float:left;width:100%;margin-bottom:20px;text-align:center;}
.roll_herald_caption {float:left;width:100%;text-align:justify;font-size:16px;font-style:italic;}
.roll_bourbon {float:left;width:25%;margin-right:3%;margin-bottom:20px;}
.roll_bourbon_image {float:left;width:100%;margin-bottom:20px;text-align:center;}
.roll_bourbon_caption {float:left;width:100%;text-align:justify;font-size:16px;font-style:italic;}
.roll_blazon_nav {float:right;}
.roll_blazon_name {font-size:12px;font-weight:bold;}
.roll_arms_350h {float:left;max-height:350px;margin-left:3%;margin-bottom:15px;}
.roll_arms_blazon {float:left;width:70%;}

.contact_salles {float:left;width:95%;margin-left:3%;}
.contact_salles_image {float:left;margin-bottom:10px;width:60%;margin-right:15px;}
.contact_salles_p {float:left;width:35%;margin-left:20px;}

.rank_listings {float:left;margin-bottom:35px;width:15%;}

/* training pages */
.arte_fola {float:left;width:18%;margin-right:2%;}
.arte_folb {float:left;width:18%;margin-right:2%;}
.arte_folc {float:left;width:18%;margin-right:2%;}
.trng_poleweapons {float:right;width:40%;margin-left:15px;}
.arte_fiore_dei_liberi_prologue {float:left;width:35%;margin-right:3%;margin-bottom:15px;}
.arte_fiore_dei_liberi_premariacco {float:right;width:25%;margin-left:3%;margin-bottom:15px;}

/* AIMS home page */
.database_image {float:left;margin-right:3%;width:10%;}
.database_login_form {float:left;width:60%;margin-bottom:5%;margin-left:24%;}
.database_login_logo {float:left;margin-left:43%;width:15%;}
.AIMS_home_page_table {width:60%;background-color:purple;border-radius:15px;}
.login_panel_wireframe {float:left;width:80%;margin-left:10%;}
.login_panel {float:left;position:relative;width:70%;margin-left:15%;margin-top:30px;margin-bottom:30px;border-style:solid;border-width:1px;border-radius:10px;background-color:#E5E4E2;padding-top:12px;}
.login_fieldset {background-color:#E5E4E2;text-align:left;width:90%;margin-left:2%;margin-bottom:2%;}

.calendar {width:800px;margin-left:15%;margin-bottom:3%;border-style:solid;border-width:1px;border-color:gray;border-radius:15px;padding:3px;}

.change_login {margin:auto;width:60%;border:1px solid;border-radius:25px;background-color:#e5e5e5;margin-bottom:50px;}

/* armigerous tab window */
.armig_left_panel {float:left;width:40%;}
.armig_right_panel {float:left;width:60%;}

/* membership tab window */
.memshp_profile_col1 {float:left;width:34%;padding:4px;}
.memshp_profile_col2 {float:left;width:30%;padding:4px;}
.memshp_profile_col3 {float:left;width:30%;padding:4px;}
.status_ranks_panel {float:left;width:45%;margin-top:1%;margin-bottom:1%;margin-left:2%;margin-right:1%;border-style:solid;border-width:1px;border-color:gray;border-radius:15px;padding:6px;background-color:orange;}
.awards_positions_panel {float:right;width:45%;margin-top:1%;margin-bottom:1%;border-style:solid;border-width:1px;border-color:gray;border-radius:15px;padding:6px;background-color:brown;}
.table_status {float:left;margin-top:15px;width:93%;border-collapse:collapse;border:1px solid black;margin-left:3%;}
.table_rank {float:left;width:50%;border-collapse:collapse;border:1px solid black;margin-left:3%;}
.table_award {border-collapse:collapse;border:1px solid black;width:90%;margin-left:3%;}
.table_position {float:left;width:40%;border-collapse:collapse;border:1px solid black;margin-left:3%;}

.postit_panel {float:left;width:90%;margin-left:5%;border-style:solid;border-width:1px;border-radius:10px;background-color:#E5E4E2;}
.postit_col1 {float:left;width:49%;padding:4px;}
.postit_col2 {float:right;width:48%;padding:4px;}

.scholler_div {float:left;width:80%;margin-left:10%;margin-right:10%;}
.scholler_badges {float:left;width:14%;text-align:center;}

/* fees */
.paypal_methods {border-style:solid;border-width:1px;border-radius:10px;width:75%;}

/* news page */
.news_60 {float:left;width:60%;}
.news_40 {float:left;width:40%;}
.news_50 {float:left;width:50%;}
.news_headline {float:left;width:95%;padding:3%;color:#EBF4FA;font-size:1.0em;font-family:arial,helvetica;}
.news_headline_alt {float:left;width:95%;padding:3%;color:#EBF4FA;font-size:1.0em;font-family:arial,helvetica;background-color:#7c613e;}
.news_date {float:left;width:95%;padding:3%;color:red;font-size:.6em;font-family:arial,helvetica;}
.news_date_alt {float:left;width:95%;padding:3%;color:black;font-size:.6em;font-family:arial,helvetica;}
.news_panel {float:left;width:100%;background-color:black;margin-bottom:10px;}

} /* end @media (min-width: 751px) */

/* begin AIMS related items */
.button_bar {width:90%;margin:auto;text-align:center;margin-top:15px;border-style:solid;border-width:1px;border-color:gray;border-radius:5px;padding:3px;background-color:orange;}
.report_banner {width:90%;background-color:green;color:white;font-weight:bold;text-align:center;margin:auto;padding-top:3px;padding-bottom:3px;margin-bottom:10px;border-style:solid;border-width:1px;border-color:black;border-radius:5px;}
.member_admin {overflow:hidden;height:25px;margin-bottom:6px;padding-top:5px;width:98%;margin:auto;border-style:solid;border-width:1px;border-color:black;border-radius:5px;color:white;font-weight:bold;background-color:#736F6E;text-align:center;}
.personal_profile_main {margin:0 auto;overflow:hidden;width:100%;margin:auto;border-style:solid;border-width:1px;border-radius:10px;background-color:lightgrey;}
.membership_profile_main {margin:0 auto;overflow:hidden;width:100%;margin:auto;border-style:solid;border-width:1px;border-radius:10px;background-color:lightgrey;}
.training_profile_main {margin:0 auto;overflow:hidden;width:100%;margin:auto;border-style:solid;border-width:1px;border-radius:10px;background-color:lightgrey;}
.equipment_profile_main {margin:0 auto;overflow:hidden;width:100%;margin:auto;border-style:solid;border-width:1px;border-radius:10px;background-color:lightgrey;}
.financial_profile_main {margin:0 auto;overflow:hidden;width:100%;margin:auto;border-style:solid;border-width:1px;border-radius:10px;background-color:lightgrey;}
.accoutrements_profile_main {margin:0 auto;overflow:hidden;width:100%;margin:auto;border-style:solid;border-width:1px;border-radius:10px;background-color:lightgrey;}
.armigerous_profile_main {margin:0 auto;overflow:hidden;width:100%;margin:auto;border-style:solid;border-width:1px;border-radius:10px;background-color:lightgrey;}
.username_profile_main {margin:0 auto;overflow:hidden;width:100%;margin:auto;border-style:solid;border-width:1px;border-radius:10px;background-color:lightgrey;}
.injuries_report_main {margin:0 auto;overflow:hidden;width:100%;margin:auto;border-style:solid;border-width:1px;border-radius:10px;background-color:lightgrey;}
.uoft_blue 	{font-family: verdana,tahoma,sans-serif; font-size: 8.5pt; color: white; font-weight: bold; background-color: #2a4a7d}
.admin_stuff {float:left;width:80%;margin-left:10%;margin-top:20px;border-style:solid;border-width:1px;border-radius:10px;background-color:#ffffff;margin-bottom:50px;}

@media only screen and (min-width: 975px) {
.pers_profile_col1 {float:left;width:33%;padding:4px;}
.pers_profile_col2 {float:left;width:33%;padding-bottom:8px;}
.pers_profile_col3 {float:left;width:33%;}

}
/* smartphone and other small mobile devices oriented e.g. landscape on iPhone 6+ */
@media only screen and (min-width: 481px) and (max-width: 974px) {
.pers_profile_col1 {float:left;width:49%;padding:4px;}
.pers_profile_col2 {float:left;width:49%;}
.pers_profile_col3 {float:left;width:100%;}
}
/* smartphone and other small mobile devices oriented e.g. landscape on iPhone 6+ */
@media only screen and (max-width: 703px) {
.pers_profile_col1 {float:left;width:100%;padding:4px;}
.pers_profile_col2 {float:left;width:100%;}
.pers_profile_col3 {float:left;width:100%;}

}

.armoury_alphabet_list {display:inline-block;cursor:pointer;width:80%;margin-left:10%;};

.blink {
/*  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;*/
  animation: blink 1s steps(5, start) 5;
  -webkit-animation: blink 1s steps(5, start) 5;

}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}


/* labels for fields on the forms */
.Label	{
	color:blue;
	font-weight:bold;
	text-align:right;
	padding-right:3px;
	font-size:15px;
	}
.tr_text {
	color:black;
	text-align:left;
	}

/* begin CSS styling for tabs presentations, sourced from http://www.w3schools.com/howto/howto_js_tabs.asp */
ul.tab {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius:6px;		/* radius of the ends of the tab bar */
    background-color: #f1f1f1;
    width:98%;
    margin-top:10px;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px 10px;		/* configures the height of the tab bar, space above and below the text */
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active { background-color: #ccc; }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
/*    border: 1px solid #ccc;*/
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tabcontent:nth-of-type(1){display:block;}
/* end CSS styling for tabs presentations, sourced from http://www.w3schools.com/howto/howto_js_tabs.asp */
/* end AIMS related items */


/* begin roll of arms elements characteristics */
.armoury_label {				/* text characteristics below the arms on each directory page of the armoury */
	text-align: center;
	font-size: 14px;
	}
.armoury_entry {				/* text characteristics of the roll of arms entry in the armoury */
	text-align: left;
	font-size: 18px;
	}
.armoury_entry_titles {				/* text characteristics of the roll of arms entry titles (arms, crest, etc.) in the armoury */
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	}
.armoury_grad 	{
	font-family: verdana,tahoma,sans-serif; 
	font-size: 8.5pt; 
	color: white; 
	font-weight: bold; 
	background-image:url('../images/armoury_gradient.jpg')
	}
/* end roll of arms elements characteristics */

/* colour of the column headings and text for listings types of reports */
.report_header {
	font-weight:bold;
	color:white;
	background-color:purple;
	}

.members_listing {
 	text-align: left;
	font-size: 16px;
	}

.caption {
 	text-align: justify;
	font-size: 16px;
	font-style: italic;
	}

.officers_portrait {float:left; margin-right:15px; margin-bottom:15px; box-shadow:5px 5px 5px #888888; max-width:100%;}
.officers_td {text-indent:0;text-align:left;font-size:19px;}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
   opacity: 0.65;
   }

.box {
  box-shadow: 5px 5px 5px 0px #444;
}

.anim_box {
 transition: box-shadow .3s;
  border: 1px solid #ccc;
/*  background: #fff;*/
  float: left;}

.anim_box:hover {
 box-shadow: 5px 5px 5px 0px #444; }


.text_transparent {
  display: none;
  z-index: -1;
}

.footer {
	font-size: 16px;
	}

.caption {
 	text-align: justify;
	font-size: 16px;
	font-style: italic;
	}

/* begin: post-it note CSS statements */
.quote-container {
/*	margin-top: 50px;
	position: relative;*/
	left:6%;
	top:80px;
	position: absolute;

	}
.note {
 	text-align: left;
	color: #333;
	position: relative;
	width: 275px;
	margin: 0 auto;
	padding: 20px;
	font-family: Satisfy;
	font-size: 22px;
	box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
	}
.note .author {
	display: block;
	margin: 40px 0 0 0;
	text-align: right;
	}
.yellow {
	background: #eae672;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
	}
.pin {
	background-color: #aaa;
	display: block;
	height: 32px;
	width: 2px;
	position: absolute;
	left: 50%;
	top: -16px;
	z-index: 1;
	}
.pin:after {
	background-color: #A31;
	background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
		inset 3px 3px 3px hsla(0,0%,100%,.2),
		inset -3px -3px 3px hsla(0,0%,0%,.2),
		23px 20px 3px hsla(0,0%,0%,.15);
	content: '';
	height: 12px;
	left: -5px;
	position: absolute;
	top: -10px;
	width: 12px;
	}
.pin:before {
	background-color: hsla(0,0%,0%,0.1);
	box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
	content: '';

	height: 24px;
	width: 2px;
	left: 0;
	position: absolute;
	top: 8px;

	transform: rotate(57.5deg);
	-moz-transform: rotate(57.5deg);
	-webkit-transform: rotate(57.5deg);
	-o-transform: rotate(57.5deg);
	-ms-transform: rotate(57.5deg);

	transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	}
/* end: post-it note CSS statements */

.mainpagetext {font-family: verdana,tahoma,sans-serif; font-size: 11px; color:black}

A:link {text-decoration: none;}
A:visited {text-decoration: none;}
A:active {text-decoration: none;}
A:hover {text-decoration: underline; color: green;}

/* end of general */

/* coloured bar specifics */
.graybar	{background-color:#E5E4E2;}
.chalkbar	{font-weight:bold;background-color:#FFFFCC;}


.bluebar {font-family: verdana,tahoma,sans-serif; font-size: 9pt; color: white; font-weight: bold; background-image: url("../images/bluebar_grad.jpg")}
.goldbar {font-family: verdana,tahoma,sans-serif; font-size: 9pt; color: black; font-weight: bold; background-image: url("../images/goldbar_grad.jpg")}
.greenbar {font-family: verdana,tahoma,sans-serif; font-size: 9pt; color: white; font-weight: bold; background-image: url("../images/greenbar_grad.jpg")}
.redbar {font-family: verdana,tahoma,sans-serif; font-size: 9pt; color: white; font-weight: bold; background-image: url("../images/redbar_grad.jpg")}
/*.redbar {font-family: verdana,tahoma,sans-serif; font-size: 9pt; color: white; font-weight: bold; background-color: #CC0000}*/
.chalk {font-family: verdana,tahoma,sans-serif; font-size: 9pt; color: black; background-color: #FFFFCC}
.input_bgcolor 	{background-color:#C3FDB8;}
.purple_grad 	{font-family: verdana,tahoma,sans-serif; font-size: 8.5pt; color: white; font-weight: bold; background-image:url('../images/navigation/navBar_purple_gradient.jpg')}
.gold_grad 	{font-family: verdana,tahoma,sans-serif; font-size: 8.5pt; color: black; font-weight: bold; background-image:url('../images/navigation/navBar_gold_gradient.jpg')}

/* end coloured bar specifics */

/* begin roll of arms elements characteristics */
.armoury_label {				/* text characteristics below the arms on each directory page of the armoury */
	text-align: center;
	font-size: 16px;
	}
.armoury_entry {				/* text characteristics of the roll of arms entry in the armoury */
	text-align: left;
	font-size: 18px;
	}
.armoury_entry_titles {				/* text characteristics of the roll of arms entry titles (arms, crest, etc.) in the armoury */
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	}
.armoury_grad_red 	{
	font-family: verdana,tahoma,sans-serif; 
	font-size: 8.5pt; 
	color: white; 
	font-weight: bold; 
	background-image:url('../images/redbar_grad.jpg')
	}
.armoury_grad_gold 	{
	font-family: verdana,tahoma,sans-serif; 
	font-size: 8.5pt; 
	color: black; 
	font-weight: bold; 
	background-image:url('../images/goldbar_grad.jpg')
	}
.armoury_grad_blue 	{
	font-family: verdana,tahoma,sans-serif; 
	font-size: 8.5pt; 
	color: white; 
	font-weight: bold; 
	background-image:url('../images/bluebar_grad.jpg')
	}
.armoury_grad_green 	{
	font-family: verdana,tahoma,sans-serif; 
	font-size: 8.5pt; 
	color: white; 
	font-weight: bold; 
	background-image:url('../images/greenbar_grad.jpg')
	}
.armoury_grad_gray 	{
	font-family: verdana,tahoma,sans-serif; 
	font-size: 8.5pt; 
	color: black; 
	font-weight: bold; 
	background-image:url('../images/graybar_grad.jpg')
	}
.armoury_grad_turq 	{
	font-family: verdana,tahoma,sans-serif; 
	font-size: 8.5pt; 
	color: black; 
	font-weight: bold; 
	background-image:url('../images/turqbar_grad.jpg')
	}


/* end roll of arms elements characteristics */


A.linksgray

{
	font-family: verdana,tahoma,sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}	
A.linksgray:hover
{
	font-family: verdana,tahoma,sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

A.linksred
{
	font-family: verdana,tahoma,sans-serif;
	font-size: 12px;
/*	font-weight: bold; */
	color: black;
	text-decoration: underline;
}
A.linksred:hover
{
	font-family: verdana,tahoma,sans-serif;
	font-size: 12px;
/*	font-weight: bold; */
	color: red;
	text-decoration: underline;
}

A.linksredgreen
{
	font-family: verdana,tahoma,sans-serif;
	font-size: 11px;
	color: red;
	text-decoration: underline;
}
A.linksredgreen:hover
{
	font-family: verdana,tahoma,sans-serif;
	font-size: 11px;
	color: green;
	text-decoration: underline;
}

A.linksredmem
{
	font-family: verdana,tahoma,sans-serif;
	font-size: 11px;
/*	font-weight: bold; */
	color: grey;
	text-decoration: underline;
}
A.linksredmem:hover
{
	font-family: verdana,tahoma,sans-serif;
	font-size: 11px;
/*	font-weight: bold; */
	color: red;
	text-decoration: underline;
}

A.linksyellow

{
	font-family: verdana,tahoma,sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: yellow;
	text-decoration: none;
}	
A.linksyellow:hover
{
	font-family: verdana,tahoma,sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
/* the google search input field in the left navigation bar */
.searchField  {	 
/*		background: transparent url (../images/graphicStructures/form_input_background_grey.gif) no-repeat left top;	*/
		background-position: 0 0px;	
		_background-position: 0 2px;	
		border:none; 
		height: 16px;	 
		padding: 3px 0 0 3px; 
		color: #686868;
		font-size:11px;	
		width:100%;		   
}	

/* begin CSS code for standardized buttons */
.button{
 border:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold;color:#FFFFFF;cursor:pointer;
 background-color: #a5b8da; background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
 background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
 background-image: linear-gradient(to bottom, #a5b8da, #7089b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}


.button:hover{
 border:1px solid #5d7fbc;color:orange;text-decoration:none;cursor:pointer;
 background-color: #819bcb; background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
 background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
 background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
 background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
 background-image: -o-linear-gradient(top, #819bcb, #536f9d);
 background-image: linear-gradient(to bottom, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}

.button.disabled:hover {
border:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a5b8da; background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
 background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
 background-image: linear-gradient(to bottom, #a5b8da, #7089b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

.button.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
  pointer-events:none;
}

.button_delete{
 border:1px solid #822121; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 cursor:pointer;
 background-color: #ff3131; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6666), to(#de3434));
 background-image: -webkit-linear-gradient(top, #ff6666, #de3434);
 background-image: -moz-linear-gradient(top, #ff6666, #de3434);
 background-image: -ms-linear-gradient(top, #ff6666, #de3434);
 background-image: -o-linear-gradient(top, #ff6666, #de3434);
 background-image: linear-gradient(to bottom, #ff6666, #de3434);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6666, endColorstr=#de3434);
}

.button_delete:hover{
 border:1px solid #822121; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a41e1e; background-image: -webkit-gradient(linear, left top, left bottom, from(#a41e1e), to(#572525));
 background-image: -webkit-linear-gradient(top, #a41e1e, #572525);
 background-image: -moz-linear-gradient(top, #a41e1e, #572525);
 background-image: -ms-linear-gradient(top, #a41e1e, #572525);
 background-image: -o-linear-gradient(top, #a41e1e, #572525);
 background-image: linear-gradient(to bottom, #a41e1e, #572525);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a41e1e, endColorstr=#572525);
}

.button_update{
 border:1px solid #822121; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #227c41; background-image: -webkit-gradient(linear, left top, left bottom, from(#227c41), to(#144d28));cursor:pointer;
 background-image: -webkit-linear-gradient(top, #227c41, #144d28);
 background-image: -moz-linear-gradient(top, #227c41, #144d28);
 background-image: -ms-linear-gradient(top, #227c41, #144d28);
 background-image: -o-linear-gradient(top, #227c41, #144d28);
 background-image: linear-gradient(to bottom, #227c41, #144d28);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6666, endColorstr=#de3434);
}

.button_update:hover{
 border:1px solid #822121; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #144d28; background-image: -webkit-gradient(linear, left top, left bottom, from(#144d28), to(#072512));cursor:pointer;
 background-image: -webkit-linear-gradient(top, #144d28, #072512);
 background-image: -moz-linear-gradient(top, #144d28, #072512);
 background-image: -ms-linear-gradient(top, #144d28, #072512);
 background-image: -o-linear-gradient(top, #144d28, #072512);
 background-image: linear-gradient(to bottom, #144d28, #072512);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a41e1e, endColorstr=#572525);
}

/* end CSS code for standardized buttons */

