/* special fonts for AEMMA */
.QuanSlimBold { 
	font-family: QuanSlimBold;
	font-weight: normal;
	font-style: normal;
}
.QuanSlimBook { 
	font-family: QuanSlimBook;
	font-weight: normal;
	font-style: normal;
}
.QuanSlimLight { 
	font-family: QuanSlimLight;
	font-weight: normal;
	font-style: normal;
}

