@import url(https://www.1001fonts.com/almendra-sc-font.html);

/*body{
font-family: 'Almendra Sc',serif;
}*/

.test {
  /*color: chartreuse;*/
  text-align: -webkit-center;
}

.textFont{
  font-family: 'Almendra Sc',serif;
}

.main_content_mods {
  float: none;
  /*float: left;*/
  position: relative;
  background-color: #fff;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

.shoesDiv {
  height: 11em;
  margin: 0.5em;
}

.shoesImage {
  border-style: solid;
  background-image: url("../images/runningShoesGeneric.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  border-style: solid;
  font-family: 'Almendra Sc',serif;
  height: 80%;
  width: 19%;
}

.shoesImageTest {
  border-style: solid;
  background-image: url("../images/runningShoesGeneric.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  border-style: solid;
  font-family: 'Almendra Sc',serif;
  height: 80%;
  width: 19%;
}

.shoesContent {
  border-style: solid;
  display: inline-block;
  border-style: solid;
  font-family: 'Almendra Sc',serif;
  /*font-size: 1em;*/
  height: 90%;
  width: 79%;
}

.buttonDiv{
  display: flex;
  justify-content: center;
}

