//----------- reset basic csss
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}
//------------------

@font-face { font-family: KingsCross; 
       src: url('../../Fonts/KingsCross.ttf'); }

html {
  scroll-behavior: smooth;
}

.title {
  /*text-align: -webkit-center;*/
  font-family: 'Crimson Text', serif;
  margin-bottom: 0.5em;
  font-size: 4em;
  padding-top: 0.5em;
  padding-left: 22%;
}

.title1 {
  /*text-align: -webkit-center;*/
  font-family: 'KingsCross',serif;
  margin-bottom: 0.2em;
  font-size: 5em;
  padding-left: 3%;
  padding-right: 3%;
  display: inline;
}

.backgroundDiv1 {
background-image: url(../../images/Equipment/parchment-background.jpg);
/* background-repeat: no-repeat; */
/* background-position: center; */
/* background-size: cover; */
height: 200em;
width: 77.5em;
z-index: -1;
position: absolute;
/* background-color: #dec3747d; */
/*background-color: #dec3747d;*/
}

.backgroundDiv2 {
background-image: url(../../images/Equipment/parchment-background.jpg);
/* background-repeat: no-repeat; */
/* background-position: center; */
/* background-size: cover; */
height: 100em;
width: 77.5em;
z-index: -1;
position: absolute;
/* background-color: #dec3747d; */
/*background-color: #dec3747d;*/
top: 200em;
}

.introImage {
  float: left;
  width: 30em;
  height: 15em;
  margin-left: 1em;
  margin-right: 1em;
  border: solid 2px;
}

.introText {
  font-family: 'Crimson Text', serif;
  display: inline;
  width: 95%;
  height: 100%;
  margin-right: 1em;
  text-align: -webkit-center;
  font-size: 1.3em;
}

.firstDay {
  font-family: 'Crimson Text', serif;
  margin-left: 1em;
  text-align: -webkit-center;
  width: 93%;
  padding-top: 1em;
  padding-bottom: 1em;
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.titleDiv {
  margin-left: 9em;
}

.recruitLink {
  margin-left: 4em;
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
}

.gambesons {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  width: 90%;
}

.naveItem {
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
}

.naveTitle {
  font-family: 'Crimson Text', serif;
  font-size: 2.2em;
}

.GambesonsAdvice {
  font-family: 'Crimson Text', serif;
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
}

.generalAdviceTitle {
  font-family: 'Crimson Text', serif;
  text-align: -webkit-center;
  font-size: 1.5em;
}

.tabImageDiv {
  text-align: center;
  height: 19em;
}

.imageLable {
  font-family: 'Crimson Text', serif;
  position: relative;
  bottom: 2.2em;
  display: block;
  text-align: center;
}

.formTitle {
 text-align: -webkit-center;
 font-family: 'Crimson Text', serif;
 margin: 0.5em;
 font-size: 1.2em;
 padding-top: 0.5em;
}

.addProductFormButton {
  text-align: center;
}

.GambesonImage {
    float: left;
    width: 20em;
    height: 25em;
    margin: 3em;
    border: solid 2px;
}
