.reviewButton{
  font-size: 0.8em;
  width: 10em;
}

.modalShoes {
    top: 43em!important;
}

.modalShirts {
    top: 67em!important;
}

.modalPants {
    top: 92em!important;
}

.modalGloves {
    top: 124em!important;
}

.modalBelts {
    top: 150em!important;
}

.modalMasks {
    top: 183em!important;
}

.modalSwords {
    top: 208em!important;
}

.modalTitle {
	padding: 1em;
	text-align: -webkit-center;
	font-size: 1.5em;
}

.reviewFormButton {
	font-family: 'Crimson Text', serif;
	margin: 1em;
	font-size: 1.5em;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.productNumber {
	display: none!important;
}

.tableProportions {
	table-layout: fixed;
    word-wrap: break-word;
    text-align: center;
}

.modal-dialog {
    max-width: 60em!important;
}

.btn-primary {
	font-size: 1.3em!important;
    background-color: #9940b5e0!important;
    border-color: #0c0d0e!important;
}