@font-face { font-family: KingsCross; 
       src: url('../../Fonts/KingsCross.ttf'); }

html {
  scroll-behavior: smooth;
}

.title {
  /*text-align: -webkit-center;*/
  font-family: 'Crimson Text', serif;
  margin-bottom: 0.5em;
  font-size: 4em;
  padding-top: 0.5em;
  padding-left: 22%;
}
.title1 {
  /*text-align: -webkit-center;*/
  font-family: 'KingsCross',serif;
  margin-bottom: 0.2em;
  font-size: 5em;
  padding-left: 3%;
  padding-right: 3%;
  display: inline;
}

.textFont{
  font-family: 'Crimson Text', serif;
}

.buttonDiv{
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.width {
  width: 100%;
}

.backgroundDiv1 {
background-image: url(../../images/Equipment/parchment-background.jpg);
/* background-repeat: no-repeat; */
/* background-position: center; */
/* background-size: cover; */
height: 200em;
width: 77.5em;
z-index: -1;
position: absolute;
/* background-color: #dec3747d; */
/*background-color: #dec3747d;*/
}

.backgroundDiv2 {
background-image: url(../../images/Equipment/parchment-background.jpg);
/* background-repeat: no-repeat; */
/* background-position: center; */
/* background-size: cover; */
height: 100em;
width: 77.5em;
z-index: -1;
position: absolute;
/* background-color: #dec3747d; */
/*background-color: #dec3747d;*/
top: 200em;
}

.introImage {
  float: left;
  width: 30em;
  height: 15em;
  margin-left: 1em;
  margin-right: 1em;
  border: solid 2px;
}

.introText {
  font-family: 'Crimson Text', serif;
  display: inline;
  width: 95%;
  height: 100%;
  margin-right: 1em;
  text-align: -webkit-center;
  font-size: 1.3em;
}

.firstDay {
  font-family: 'Crimson Text', serif;
  margin-left: 1em;
  text-align: -webkit-center;
  width: 90%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.shoes {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  width: 90%;
}

.shirt {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  width: 90%;
}
.pants {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  width: 90%;
}

.gloves {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  width: 90%;
}

.belts {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  width: 90%;
}

.masks {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  width: 90%;
}

.swords {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  width: 90%;
}

.shoesExample {
  float: left;
  width: 15em;
  height: 10em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.shirtsExample {
  float: left;
  width: 12em;
  height: 10em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.pantsExample {
  float: left;
  width: 13em;
  height: 13em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.glovesExample {
  float: left;
  width: 13em;
  height: 15em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.swordsExample {
  float: left;
  width: 16em;
  height: 13em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.footwearList {
/*  list-style-image: url("");*/
  list-style: none
}

.tabBottomBorder{
  border-bottom: 1px solid #000000;
}

.nav-link.active {
  color: #495057!important;
  background-color: #ffffff1a!important;
  border-color: #121417 #090b0c #0c0c0c0f!important;
}

.nav-tabs {
  border-bottom: 1px solid #000000!important;
}

.ClickTabsBanner {
  font-size: 1.3em;
  text-decoration: underline;
}

.formTitle {
 text-align: -webkit-center;
 font-family: 'Crimson Text', serif;
 margin: 0.5em;
 font-size: 1.2em;
 padding-top: 0.5em;
}

.form {
  margin-bottom: 1em;
}

.formFields {
  width: 10em;
}

.formButton {
  background-color: #c764e6;
}

.formButton:hover {
  border: 3px solid;
}

textarea.form-control {
    height: 2em !important;
}

.addProductFormButton {
  text-align: center;
}

.generalAdvice {
  font-family: 'Crimson Text', serif;
  width: 73%;
  text-align: -webkit-center;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 1%;
}

.generalAdviceTitle {
  font-family: 'Crimson Text', serif;
  text-align: -webkit-center;
  font-size: 1.5em;
}

.btn-secondary {
  color: #fff;
  background-color: #9940b5e0!important;
  border-color: #0c0d0e!important;
}

table {
  border-color: black!important;
}

.conventionalShoeImage {
/*  float: left;*/
  width: 15em;
  height: 12em;
  margin: 3em;
  border: solid 2px;
}

.PeriodShoesImage {
  width: 15em;
  height: 16em;
  border: solid 2px;
  margin-top: 0.5em;
}

.tab-pane.active { animation-name: fadeIn; animation-duration: 900ms; animation-timing-function: linear; }

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.nav-link:hover{
  /*background-color: yellow;*/
      border: 1px solid!important;
}

.table thead th {
     border-bottom: 0.1px solid transparent!important; 
   }

.table td, .table th {
    border-top: 1px solid #0e1115!important;
}

.my-custom-scrollbar {
    height: 16em!important;
    margin-bottom: 2em!important;
  }

.naveItem {
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
}

.naveTitle {
  font-family: 'Crimson Text', serif;
  font-size: 2.2em;
}

.swordLeft {
  display: inline;
  height: 6em;
  margin-bottom: 1.8em;
}
.swordRight {
  /*border: solid;*/
  display: inline;
  height: 6em;
  margin-bottom: 1.8em;
}

.intoTextDiv {
  width: 95%;
}

.ConventionalShoesAdvice {
  font-family: 'Crimson Text', serif;
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
}

.imageLable {
  font-family: 'Crimson Text', serif;
  position: relative;
  bottom: 2.2em;
  display: block;
  text-align: center;
}

.tabImageDiv {
  text-align: center;
  height: 19em;
}

.shirts {
  /*border-style: solid;*/
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1em;
    width: 88%;
}

.swordsList {
  margin-left: 9.5em;
  font-size: 1.5em;
  font-family: 'Crimson Text', serif;
}
