.reviewButton{
  font-size: 0.8em;
  width: 10em;
}

.modal {
    top: 30em!important;
}
.modalTitle {
	padding: 1em;
	text-align: -webkit-center;
	font-size: 1.5em;
}

.reviewFormButton {
	font-family: 'Almendra Sc',serif;
	margin: 1em;
	font-size: 1.5em;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.productNumber {
	display: none!important;
}

.tableProportions {
	table-layout: fixed;
    word-wrap: break-word;
}